.div-product{
	margin-top: 2%;
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.div-product img{
    top: 0%;
    height: 357px;
    width: 357px;
    margin: 20px;
}

.div-nombre{
	 
	height: 66px;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	color:#32398C;
	justify-content: center;
	align-items: center;
	font-size: 19px;
	position: absolute;
    width: 100%;
    bottom: 8%;
    padding-top: 20px;

}
@media only screen and (max-width:600px){
	.div-nombre{
		font-size: 90%;
	}
}

.home{
	padding:5px 300px;
	height: 110%;

}

.home div{
	line-height: 25px;
}

.categorias hr{
	position: relative;
	bottom: 1%;
	width: 48px;
	height: 1px;
	border: 1px;
	border-radius:10px;
	background-color: #32398C;
}

.categorias span{
	font-family: 'Source Sans Pro', sans-serif;
	color: #32398C; 
	font-size: 47px;
	padding-left: 37px;
	padding-top: 20px;
	position: relative;
	top: 10px;
}

.categorias{
	
}
