.div-product{
	margin-top: 2%;
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 412px;
}
.div-nombre{
	background-color: rgba(51,51,51,0.86); 
	height: 66px;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	position: absolute;
    width: 100%;
    bottom: 0;

}
@media only screen and (max-width:600px){
	.div-nombre{
		font-size: 90%;
	}
}

.home{
	padding:5px 300px;
	height: 110%;

}

.home div{
	line-height: 25px;
}

.home hr{
	position: relative;
	bottom: 15px;
	width: 10%;
	margin-top: 10px;
	height: 4px;
	border: 3px;
	border-radius:10px;
	background-color: #32398C;
}

.destacados{
	padding-bottom: 10px;
}