.div-product{
	margin-top: 2%;
	border: 1px solid #CBCBCB;
	border-bottom: 0px; 
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 384px;
}
.div-nombre{
	background-color: rgba(51,51,51,0.86); 
	height: 66px;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	position: absolute;
    width: 100%;
    bottom: 0;

}
@media only screen and (max-width:600px){
	.div-nombre{
		font-size: 90%;
	}
}
.contenido{
	background-color: rgba(238,238,238);
	font-family: 'Source Sans Pro', sans-serif;
	padding: 5% 20%;
	color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0px;
}
