.div-product{
	margin-top: 2%;
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 412px;
}

.div-product img{
    top: 0%;
    height: 357px;
    width: 357px;
    margin: 20px;
}

.div-nombre{
	 
	height: 66px;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	color:#32398C;
	justify-content: left;
	align-items: center;
	font-size: 19px;
	position: absolute;
    width: 100%;
    left: 20px;
    bottom: 25px;
    padding-top: 0px;

}
@media only screen and (max-width:600px){
	.div-nombre{
		font-size: 90%;
	}
}

.home{
	padding:5px 300px;
	height: 110%;

}

.home div{
	line-height: 25px;
}

.categorias hr{
	position: relative;
	width: 48px;
	height: 1px;
	border: 1px;
	border-radius:10px;
	background-color: #32398C;
	left: 20px;
	top: 5px;
}

.categorias span{
	font-family: 'Source Sans Pro', sans-serif;
	color: #32398C; 
	font-size: 47px;
	padding-left: 37px;
	padding-top: 20px;
	position: relative;
	top: 10px;
}

.categorias{
	padding-bottom: 10px;
}

.categorias h7{
	padding-left: 43px;
	position: relative;
	bottom:40px;
}

.p_info{

}

.p_info p{
	margin:6px;
	}

.p_info img{
width: 100%;
height: 100%;
}

.p_info a{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;
	text-decoration: none!important;
}

.links{
	position: relative;
	left: -75px!important;
	margin-bottom: 50px;
}



.producto{
	font-family: 'Source Sans Pro', sans-serif!important;
}

.productoss hr{
	position: relative;
	bottom: 1%;
	width: 48px;
	height: 1px;
	border: 1px;
	border-radius:10px;
	background-color: #32398C;
}

.infop{
	font-family: 'Source Sans Pro', sans-serif!important;
	line-height: 25px;
	padding-top: 30px;
}