.titulo-cliente> p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 46px;
	color: #0085CC;
}
@media only screen and (min-width: 345px){
	.titulo-cliente>p{
	    margin-top: 60px;
	}
}
.subrayado{
	width: 35px;
	height: 1px;
	background-color: #0099EF;
	position: relative;
	left: 3px;
	bottom: 10px;
}
.referente{
	height: 100%;
	width: 100%;
	background-color: #F3F3F3;
	padding-top: 20px;
	padding-bottom: 20px;
}
.referente-oscuro{
	height: 100%;
	width: 100%;
	background-color: #E7E7E7;
	padding-top: 20px;
	padding-bottom: 20px;
}
.empresa{
	font-size: 17px;
	font-weight: lighter;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 0px;
	text-transform: capitalize;
}
.padd{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;  
}