body{
	background-color: #ebebeb;
}

.container{
	width: 90%;
	max-width: 500px;
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 3px;
}

main{
	padding-left: 0;
}

.input-field .prefix.active{
	color: #15B200;
}

.input-field .prefix{
	color: rgba(77, 182, 172, 0.70);
}

.logo-login{
	width: 80%;
	margin: auto;
	padding: 30px;
}

.logo-login img{
	display: block;
	margin: auto;
}