/* SLIDER */

/* BULLETS */
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	background: url(../images/b21.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb21 div {
	background-position: -5px -5px;
}
.jssorb21 div:hover, .jssorb21 .av:hover {
	background-position: -35px -5px;
}
.jssorb21 .av {
	background-position: -65px -5px;
}
.jssorb21 .dn, .jssorb21 .dn:hover {
	background-position: -95px -5px;
}

/* NO SIRVEN ACA */
span.arrowleft{
	width: 55px; 
	height: 55px; 
	top: 123px; 
	left: 8px;
}
span.arrowright{
	width: 55px; 
	height: 55px; 
	top: 123px; 
	right: 8px
}
/* SLIDER */