@media only screen and (max-width: 765px) and (min-width: 345px){
	 .mediaquery{
	 	padding-top: 50px;
	 }
}
@media only screen and (min-width: 990px){
	 .mediaquery{
	 	padding-top: 20px;
	 }
}
.margen-row{
	margin-top: 8%;
}
.img-dest{
	width: 100%;
	height: 309px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 2s;
}
.img-responsive-alto{
	width: 100%;
	max-height: 100%;
}
.nombre-dest{
	color: #0085CC;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	padding: 25px;
	width: 100%;
	top: 100%;
	left: 10%;
	margin-top: 5px;
	text-transform: uppercase;
	border: 1px solid #DDDDDD;
}
.subrayado{
	width: 60px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
	left: 3px;
	bottom: 20px;
}
@media only screen and (max-width: 1200px) and (min-width: 767px)  {
	.img-dest{
	    height: 220px;
	}
}
@media only screen and (max-width: 766px) and (min-width: 714px) {
	.img-dest{
	    height: 350px;
	}
	.cont-img{
		padding-right: 150px;
		padding-left: 150px;
	}
}
@media only screen and (max-width: 713px) and (min-width: 440px){
	.img-dest{
	    height: 250px;
	}
	.cont-img{
		padding-right: 80px;
		padding-left: 80px;
	}
}
@media only screen and (max-width: 440px){
	.img-dest{
	    height: 180px;
	}
}
.cont-img:hover  {
	transform: scale(0.9);/*Damos un ligero zoom a la imagen*/
	transition: 1s;
}
.cont-img{
	padding-top: 5px; 
}
