body {
	font-style: 'Source Sans Pro';
}

.header-nav{
	height: 130px;
	background-color: white;
	border: 0px;
	position: relative;
	color: red;
	box-shadow: 0 0px 0px -0px rgba(0,0,0,.0);
}

.logo-header{
	position: absolute;
	top:20px;
	left: 100px;
}

.redes-header{
	position: absolute;
	top:20px;
	right: 100px;
}

.iconos-redes{
	padding-left: 2px;
	padding-right: 2px;	
}

.links-header a{
	position: relative;
	
	top:40px;
	left: 35%;
	font-size: 17px;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fff;
	word-spacing: 15px;
}

.links-header a:active{
	color: #32398E;
}

.links-header a:hover{
	color: #32398E;
	font-weight: bold;
}